<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
  </head>
  <body>
    <h1>Welcome to Members Only.</h1>
    <div>Please <a href="/signup">sign up</a></div>
    <div>Already have an account? <a href="/login">login</a></div>
  </body>
</html>