<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Please Log in</h1>
    <form method="POST" action="/login">
      <div>
        <label for="username">
          Username:
          <input name="username" type="text">
        </label>
        <label for="password">
          Password:
          <input name="password" type="password">
        </label>
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>