<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
  </head>
  <body>
    <h1>Welcome to Members Only Homepage <%= user %></h1>
    <div>
      <div>
        <% if (member) { %> You are a member! <% } else { %><a href="/member">Become a Member!</a><% } %>
      </div> 
      <% if (member) { %>
        <div>
          <a href="/createmessage">Create a message</a>
        </div>
      <%}%>
      <div>
        <a href="/logout">Logout</a>
      </div>
    </div><br>
    <div>
      <% messages.map(message => { %> 
      <div>
        <div>From <%= message.username %></div>
        <div><% if (member) { %> 
          <div>Title: <%= message.title %></div> 
          <div>Message: <%= message.text %></div> 
          <%} else {%> 
            <div>You need to be a member to view messages!!!</div>
            <%}%>
        </div><br>
      </div><%})%>
    </div>
  </body>
</html>